# Generate secret with: openssl rand -hex 32
proxy:
  secretToken: "### snip01 ###"

# see: https://zero-to-jupyterhub.readthedocs.io/en/latest/user-environment.html#use-jupyterlab-by-default
#      https://zero-to-jupyterhub.readthedocs.io/en/latest/user-environment.html#using-nbgitpuller-to-synchronize-a-folder
singleuser:
  image:
    name: luigidifraia/datacube-notebook
    tag: v1.1.2-alpha
  defaultUrl: "/lab"
  lifecycleHooks:
    postStart:
      exec:
        command: ["gitpuller", "https://github.com/frontiersi/odc-sandbox-notebooks", "master", "notebooks"]
  storage:
    extraVolumes:
      - name: datacube-conf
        configMap:
          name: datacube-conf
    extraVolumeMounts:
      - name: datacube-conf
        mountPath: /etc/datacube.conf
        subPath: datacube.conf

hub:
  extraConfig:
    jupyterlab: |
      c.Spawner.cmd = ['jupyter-labhub']

# see: https://zero-to-jupyterhub.readthedocs.io/en/latest/advanced.html#ingress
ingress:
  enabled: true
  hosts:
    - jupyterhub.satapps.org
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "0"

# see: https://zero-to-jupyterhub.readthedocs.io/en/latest/authentication.html#github
auth:
  type: github
  github:
    clientId: "### snip02 ###"
    clientSecret: "### snip03 ###"
    callbackUrl: "http://jupyterhub.satapps.org/hub/oauth_callback"
  admin:
    access: true
    users:
      - luigidifraia
