# nameOverride: dask
# fullnameOverride: dask

# based on: https://github.com/helm/charts/blob/master/stable/dask/values.yaml

scheduler:
  name: scheduler
  image:
    repository: "luigidifraia/dask-datacube"
    tag: v1.0.2-alpha
    pullPolicy: IfNotPresent
  replicas: 1
  serviceType: "ClusterIP"
  servicePort: 8786
  resources: {}
    # limits:
    #   cpu: 1.8
    #   memory: 6G
    # requests:
    #   cpu: 1.8
    #   memory: 6G
  tolerations: []
  nodeSelector: {}
  affinity: {}

webUI:
  name: webui
  servicePort: 8787

worker:
  name: worker
  image:
    repository: "luigidifraia/dask-datacube"
    tag: v1.0.2-alpha
    pullPolicy: IfNotPresent
  replicas: 1
  aptPackages: >-
  default_resources:  # overwritten by resource limits if they exist
    cpu: 1
    memory: "4GiB"
  env:
    # - name: EXTRA_CONDA_PACKAGES
    #   value: numba xarray -c conda-forge
    # - name: EXTRA_PIP_PACKAGES
    #   value: s3fs dask-ml --upgrade
    - name: AWS_NO_SIGN_REQUEST  # This option might be used for buckets with public access rights. Available since GDAL 2.3.
      value: "YES"
    # - name: AWS_ACCESS_KEY_ID
    #   value: "AKIAIOSFODNN7INVALID"
    # - name: AWS_SECRET_ACCESS_KEY
    #   value: "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"
    # - name: AWS_DEFAULT_REGION
    #   value: "us-west-2"
    # - name: AWS_S3_ENDPOINT
    #   value: "s3.acme.com"
    # - name: AWS_PROFILE
    #   value: "acme"
  resources: {}
    # limits:
    #   cpu: 1
    #   memory: 3G
    # requests:
    #   cpu: 1
    #   memory: 3G
  tolerations: []
  nodeSelector: {}
  affinity: {}

jupyter:
  name: jupyter
  enabled: false
  image:
    repository: "daskdev/dask-notebook"
    tag: 1.1.0
    pullPolicy: IfNotPresent
  replicas: 1
  serviceType: "LoadBalancer"
  servicePort: 80
  password: 'sha1:aae8550c0a44:9507d45e087d5ee481a5ce9f4f16f37a0867318c'  # 'dask'
  env:
    # - name: EXTRA_CONDA_PACKAGES
    #   value: numba xarray -c conda-forge
    # - name: EXTRA_PIP_PACKAGES
    #   value: s3fs dask-ml --upgrade
  resources: {}
    # limits:
    #   cpu: 2
    #   memory: 6G
    # requests:
    #   cpu: 2
    #   memory: 6G
  tolerations: []
  nodeSelector: {}
  affinity: {}
