apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: dask
  namespace: dask
spec:
  rules:
  - host: dask.satapps.org
    http:
      paths:
      - backend:
          serviceName: dask-scheduler
          servicePort: 8787
        path: /
